---
import Container from "../../Container.astro";
import Wave from "../../Wave.astro";
---

<section data-aos="zoom-out" class="bg-Addendas bg-fixed h-[100vh] bg-cover relative">
    <div class="h-full bg-gradient-to-r from-orange-600/70 to-orange-300/75 content-center">
        <Container>
            <div class="py-20">
                <div class="mb-5">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="70"
                    height="70"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class=" mt-10 md:mt-0 text-white icon icon-tabler icons-tabler-outline icon-tabler-brand-juejin"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path d="M2 12l10 7.422l10 -7.422"></path><path
                        d="M7 9l5 4l5 -4"></path><path
                        d="M11 6l1 .8l1 -.8l-1 -.8z"></path></svg
                >
                </div>
                <h1
                    data-aos="fade-up"
                    data-aos-delay="100"
                    class="text-left text-5xl lg:text-7xl whitespace-normal mb-8 montserrat-bold text-white"
                >
                    Addendas
                </h1>

                <p
                    data-aos="fade-up"
                    data-aos-delay="200"
                    class="w-full md:w-3/4 text-xl whitespace-normal montserrat-regular mr-80 mb-14 text-white"
                >
                    Las Addendas son un elemento opcional de la Factura
                    Electr칩nica que en su caso, se incluye en el formato XML
                    para a침adir informaci칩n no fiscal, de acuerdo a las
                    pr치cticas comerciales que se observen
                </p>
            </div>

            
            </div>
        </Container>
        <Wave></Wave>
    </div>
</section>
