---
import { WavesBottom } from "../Index/UIComponents/WavesBottom"
import Container from "../Container.astro"
import "../../styles/WavsStyles.css"
import Wave from "../Wave.astro"
---


<section data-aos="zoom-out" class="bg-AccesoClientes z-0 bg-fixed bg-cover h-[100vh] relative ">
    <div class="h-full  bg-gradient-to-r  from-yellow-600/70 to-yellow-300/75 content-center">
        <Container>
            <div class="">
                <h1 data-aos="fade-up" data-aos-delay="100" class="text-center text-6xl  lg:text-7xl xl:text-8xl mb-8 montserrat-bold whitespace-normal text-white">
                    Acceso a clientes
                </h1>
            
                <p  data-aos="fade-up" data-aos-delay="200" class=" text-2xl lg:text-lg xl:text-2xl text-center montserrat-regular  mb-7 text-white ">
                    ¿No cuentas con acceso?, contactanos y contrata para ingresar a nuestas aplicaciones.</p>

                <div data-aos="zomm-in" data-aos-delay="400" class="flex justify-center space-x-5">
                    <a data-aos="zomm-in" data-aos-delay="400" href="" class="flex flex-row  space-x-3 items-center rounded-md text-white text-sm montserrat-bold border-white p-3 border-3">
                        Envia un correo
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon ml-3 icon-tabler icons-tabler-filled icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z" /><path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z" /></svg>
                    </a>

                    <a  data-aos="zomm-in" data-aos-delay="500" href="" class="flex flex-row  space-x-3 items-center rounded-md bg-white text-yellow-500 border-white text-sm montserrat-bold p-3 border-3">
                        Contactanos
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon ml-3 icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
                    </a>
                </div>


            </div>
        </Container>
        <Wave></Wave>
    </div>
</section>