---
import Container from "../Container.astro";
---

<section class="h-[100vh] content-center bgBannerApps">
    <Container>
        <div class=" my-10 ">
            <h1 class="text-5xl text-white font-bold"> INGRESA A NUESTRAS <br> APLICACIONES</h1>


        </div>
        <a href="" class="bg-blue-400 shadow-lg shadow-cyan-500/50 text-white rounded-2xl p-4 my-7 font-bold text-1xl">
            Ver aplicaciones
        </a>

    </Container>
</section>

<style>
    .bgBannerApps {
        background-image: url(../../../public/Img/Backgrounds/bgAccesoClientes.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
