---
import Container from "../../Container.astro";
import Wave from "../../Wave.astro";
---

<section data-aos="zoom-out" class="bg-Autofacturacion bg-fixed bg-cover h-[100vh] relative">
    <div class="h-full  bg-gradient-to-r from-blue-600/80 to-blue-500/80 content-center">
        <Container>
            <div class="mb-5">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="70"
                    height="70"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="mt-10 md:mt-0 text-white icon icon-tabler icons-tabler-filled icon-tabler-keyframes"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path
                        d="M8 4a2.599 2.599 0 0 0 -2 .957l-4.355 5.24a2.847 2.847 0 0 0 -.007 3.598l4.368 5.256c.499 .6 1.224 .949 1.994 .949a2.599 2.599 0 0 0 2 -.957l4.355 -5.24a2.847 2.847 0 0 0 .007 -3.598l-4.368 -5.256a2.593 2.593 0 0 0 -1.994 -.949z"
                    ></path><path
                        d="M16.382 4.214a1 1 0 0 1 1.32 .074l.084 .094l4.576 5.823c.808 .993 .848 2.396 .13 3.419l-.12 .158l-4.586 5.836a1 1 0 0 1 -1.644 -1.132l.072 -.104l4.596 -5.85a.845 .845 0 0 0 .06 -.978l-.07 -.1l-4.586 -5.836a1 1 0 0 1 .168 -1.404z"
                    ></path><path
                        d="M12.382 4.214a1 1 0 0 1 1.32 .074l.084 .094l4.576 5.823c.808 .993 .848 2.396 .13 3.419l-.12 .158l-4.586 5.836a1 1 0 0 1 -1.644 -1.132l.072 -.104l4.596 -5.85a.845 .845 0 0 0 .06 -.978l-.07 -.1l-4.586 -5.836a1 1 0 0 1 .168 -1.404z"
                    ></path></svg
                >
            </div>
            <h1
                data-aos="fade-up"
                data-aos-delay="100"
                class="text-left text-4xl lg:text-7xl whitespace-normal mb-8 montserrat-bold text-white"
            >
                Autofacturacion
            </h1>

            <p
                data-aos="fade-up"
                data-aos-delay="200"
                class="w-full md:w-3/5 text-xl whitespace-normal montserrat-regular mr-80 mb-14 text-white"
            >
                Documento que emite el cliente o un tercero, en el que se
                registra la compra de un producto o la prestación de un
                servicio. También se conoce como factura por destinatario.
            </p>

        </Container>
        <Wave></Wave>
    </div>
</section>
