---
import Container from "../../Container.astro";
import Wave from "../../Wave.astro";
---

<section class="bg-Rav bg-fixed bg-cover h-[100vh]">
    <div class="h-full bg-gradient-to-r from-red-600/75 to-red-500/70 content-center">
        <Container>
            <div class="mb-5">
                <div class="flex space-x-4">
                    <img
                        src="/Img/RAV_WHITE.png"
                        alt=""
                        width="50"
                    />

                    <h1
                        class="montserrat-bold text-white text-3xl content-center"
                    >
                        RAV
                    </h1>
                </div>
            </div>
            <h1
                data-aos="fade-up"
                data-aos-delay="100"
                class="text-left text-3xl lg:text-6xl xl:text-7xl whitespace-normal mb-8 montserrat-bold text-white"
            >
                Recepcion, <br /> Almacenamiento y Validacion
            </h1>

            <p
                data-aos="fade-up"
                data-aos-delay="200"
                class="w-full md:w-3/5 text-xl whitespace-normal montserrat-regular mr-80 mb-14 text-white"
            >
                Reciba, almacene y valide las facturas CFDI que recibe de sus
                proveedores de la manera más económica y simple.
            </p>
        </Container>
        <Wave></Wave>
    </div>
</section>
