---
import Container from "../../Container.astro";
import Wave from "../../Wave.astro";
---

<section  data-aos="zoom-out" class="bg-Gubernamental bg-fixed bg-cover ">
    <div class="h-[100vh] md:h-full py-40 bg-gradient-to-r from-yellow-600/75 to-yellow-500/75 content-center">
        <Container>
            <div class="mb-5">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="123"
                    height="123"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon md:mt-0 icon text-white icon-tabler icons-tabler-outline icon-tabler-brand-backbone"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path d="M5 20l14 -8l-14 -8z"></path><path
                        d="M19 20l-14 -8l14 -8z"></path></svg
                >
            </div>
            <h1
                data-aos="fade-up"
                data-aos-delay="100"
                class="text-left text-4xl lg:text-7xl whitespace-normal mb-8 montserrat-bold text-white"
            >
                Contabilidad <br> Gubernamental
            </h1>

            <p
                data-aos="fade-up"
                data-aos-delay="200"
                class="w-full md:w-3/4 text-2xl  whitespace-normal montserrat-regular mr-80 mb-14 text-white"
            >
                , con fácil implemenracion, capacitación y con
                un alto grado de adaptabilidad a los procesos operativos
                vigentes en su organización.
            </p>
        </Container>
        <Wave></Wave>
    </div>
</section>
