---

import BannerText from './BannerText.astro'
import '../../styles/fonts.css'
import Wave from '../Wave.astro'
---


<section class="overflow-x-hidden h-[100vh} min-h-[100vh] bg-dark/80  relative" >
    <div class="h-screen w-screen bg-gradient-to-tr from-gray-600/65 to-gray-500/60  content-center">
        <video class="object-cover absolute h-screen  w-screen -z-20 top-0 left-0" src="/mp4/bgIndex.mp4" autoplay loop muted >
        </video>

        <div class="mx-auto max-w-7xl ">
            <!-- <div class="w-full grid grid-cols-1 p-5 order-2 h-screen content-center ">
                <h1 class="montserrat-bold text-white text-8xl w-2/4 text-left "> Tecnologia en movimiento
                </h1>
                <p class="text-3xl w-2/4 montserrat-regular my-5 text-white">
                    Desarrollamos soluciones para tu negocio, duestro sistema es simple, intuitivo y fácil de usar.


                </p>

            </div> -->
        </div>
    </div>


    <!-- <BannerText> -->
    <Wave></Wave>
</section>
