---

import BannerText from './BannerText.astro'
import '../../styles/fonts.css'
import Wave from '../Wave.astro'
---


<section class="overflow-x-hidden h-[100vh} min-h-[100vh] bg-dark/80 content-center relative" >
    <video class="object-cover absolute h-screen  w-screen -z-20 top-0 left-0" src="/mp4/vKeyboard.mp4" autoplay loop muted >
    </video>

    <!-- <BannerText> -->
    <Wave></Wave>
</section>
