---
import Container from "../Container.astro";
import { addendas } from "../../Data/Addendas/dataAddendas";
import { ButtonC } from "./UIComponents/ButtonC";
import { CarouselAddenda } from "./UIComponents/CarouselAddenda";
---

<section class="py-10">
    <Container>
        <div class="grid grid-cols-2 gap-5 ">
            <div class="order-2 md:order-1 col-span-2 md:col-span-1 my-5">
                <CarouselAddenda ></CarouselAddenda>
            </div>
            <div class="order-1 md:order-2 col-span-2 md:col-span-1 my-5 relative">
                <h1 data-aos="fade-up" data-aos-delay="50" class="text-lg mb-5 montserrat-bold text-gray-800 text-left ml-0 md:ml-10">Complementa tu factura </h1>
                <h1 data-aos="fade-up" data-aos-delay="100" class="text-orange-400 montserrat-bold text-6xl text left ml-0 md:ml-10">
                    Addendas <br>  en tus <br> facturas
                </h1>
                <p data-aos="fade-up" data-aos-delay="300" class="text-dark text-xl montserrat-regular text-left ml-0 md:ml-10 my-10">
                    Agrega informacion adicional. <br> En ADON contamos con las siguientes Addendas. 
                </p>

                <a  href="" class="p-5 bg-orange-400 text-xl montserrat-bold text-white ml-0 md:ml-10 rounded-md"> Conocer mas </a>

                <div class="absolute top-0 right-0 opacity-5">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="450"
                    height="450"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class=" -ml-32 mt-10 md:mt-0 text-orange-600 icon icon-tabler icons-tabler-outline icon-tabler-brand-juejin"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path d="M2 12l10 7.422l10 -7.422"></path><path
                        d="M7 9l5 4l5 -4"></path><path
                        d="M11 6l1 .8l1 -.8l-1 -.8z"></path></svg
                >
                </div>
            </div>

        </div>

    </Container>
</section>
